/* @font-face {
  font-family: 'Syne';
  src: url('MabryPro-Bold.eot');
  src: local('Syne Bold'), local('MabryPro-Bold'),
      url('MabryPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-Bold.woff2') format('woff2'),
      url('MabryPro-Bold.woff') format('woff'),
      url('MabryPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('MabryPro-Medium.eot');
  src: local('Syne Medium'), local('MabryPro-Medium'),
      url('MabryPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-Medium.woff2') format('woff2'),
      url('MabryPro-Medium.woff') format('woff'),
      url('MabryPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('MabryPro-Black.eot');
  src: local('Syne Black'), local('MabryPro-Black'),
      url('MabryPro-Black.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-Black.woff2') format('woff2'),
      url('MabryPro-Black.woff') format('woff'),
      url('MabryPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('MabryPro-LightItalic.eot');
  src: local('Syne Light Italic'), local('MabryPro-LightItalic'),
      url('MabryPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-LightItalic.woff2') format('woff2'),
      url('MabryPro-LightItalic.woff') format('woff'),
      url('MabryPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('MabryPro-BoldItalic.eot');
  src: local('Syne Bold Italic'), local('MabryPro-BoldItalic'),
      url('MabryPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-BoldItalic.woff2') format('woff2'),
      url('MabryPro-BoldItalic.woff') format('woff'),
      url('MabryPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('MabryPro-Light.eot');
  src: local('Syne Light'), local('MabryPro-Light'),
      url('MabryPro-Light.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-Light.woff2') format('woff2'),
      url('MabryPro-Light.woff') format('woff'),
      url('MabryPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('MabryPro-BlackItalic.eot');
  src: local('Syne Black Italic'), local('MabryPro-BlackItalic'),
      url('MabryPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-BlackItalic.woff2') format('woff2'),
      url('MabryPro-BlackItalic.woff') format('woff'),
      url('MabryPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('MabryPro-MediumItalic.eot');
  src: local('Syne Medium Italic'), local('MabryPro-MediumItalic'),
      url('MabryPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-MediumItalic.woff2') format('woff2'),
      url('MabryPro-MediumItalic.woff') format('woff'),
      url('MabryPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('MabryPro-Italic.eot');
  src: local('Syne Italic'), local('MabryPro-Italic'),
      url('MabryPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-Italic.woff2') format('woff2'),
      url('MabryPro-Italic.woff') format('woff'),
      url('MabryPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('MabryPro-Regular.eot');
  src: local('Syne'), local('MabryPro-Regular'),
      url('MabryPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('MabryPro-Regular.woff2') format('woff2'),
      url('MabryPro-Regular.woff') format('woff'),
      url('MabryPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 */


/* @font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/mabp.ttf') format('truetype');
} */
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: "white";
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

body {
  font-family: 'Syne', sans-serif;
}

*{
  font-family: 'Syne', sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.glassy{
  /* From https://css.glass */
background: rgba(23, 255, 154, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.6px);
-webkit-backdrop-filter: blur(7.6px);
border: 1px solid rgba(23, 255, 154, 0.2);
}
